@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Open+Sans:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", "sans-serif";

}

nav {
    background-color: #604477;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.navbar-left {
    width: 300px;
    height: 80px;
    display: flex;

}

.navbar-left img {
    width: 100%;
    height: 100%;
}

nav ul {
    display: flex;
    list-style: none;

}

nav ul a {
    font-size: 1.6rem;
    color: white;
    cursor: pointer;
    text-decoration: none;
    margin-right: 6rem;
    transition: background-color 0.3s ease, padding 0.3s ease, border-radius 0.3s ease;
}

nav ul a:hover {
    background-color: hsl(273, 27%, 50%);
    padding: 5px;
    border-radius: 5px;
}

.navbar-right {
    display: flex;
    gap: 4.5rem;
    align-items: center;
}

.navbar-mobile,
.logo-mobile {
    display: none;
}

.fa-solid.fa-bars {
    font-size: 2.5rem;
    color: white;
    display: none;
}

.section-1 {
    background-image: url("./image/section 1/background\ 1.jpg");
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    padding: 100px 50px;
}

.section-1-left {
    order: 1;

}

.section-1-left img {
    border-radius: 50%;
    transition: box-shadow 0.3s ease;
}

.section-1-right {
    order: 2;
}

.section-1-left img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.section-1-right h1 {
    font-size: 3.5rem;
    text-align: center;
    color: #604477;
    font-weight: bold;

}

#sub-title {
    font-size: 2.5rem;
    text-align: center;
    color: #000000;
    font-weight: bold;
}

#below-content {
    font-size: 1.4rem;
    font-style: italic;
    text-align: center;
    color: blue;
    margin-bottom: 40px;

}

.animated-button {
    background-color: #604477;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bold;
}

.animated-button:hover {
    background-color: #4a3560;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.button-start {

    text-align: center;
}


.animated-title {
    font-size: 3rem;
    animation: fadeIn 2s ease-in;
    color: white;
}

.animated-text {
    font-size: 1.2rem;
    animation: fadeIn 3s ease-in;
    color: white;
}

.animated-text {
    animation: fadeIn 3s ease-in;
    color: white;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Categories Section */
.categories-section {
    background: linear-gradient(to right, #a2d0f1, #D8BFD8, #fae6c2);
    width: 100%;
    height: 100%;
    padding-bottom: 80px;
    padding-top: 50px;

}

.categories-section h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #604477;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}


.subjects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}


.subject-card {
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #3e0350;
    margin: auto;
    border-radius: 50px 50px 20px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    animation: fadeIn 2s ease-in;
}

.subject-card:hover {
    background-color: #4A3560;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.sub-image {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.sub-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
}

.subject-card h2 {
    font-size: 1.2rem;
    color: #FFFFFF;
    margin: 0;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal.active {
    display: flex;
}

.modal-content {
    background-color: #000000;
    color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    height: 300px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: #FFFFFF;
    cursor: pointer;
}

#modal-title,
#question-count-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.subcategories-container {
    margin-bottom: 20px;
    text-align: left;
}

.subcategories-container input[type="radio"] {
    margin-right: 10px;
}

.subcategories-container label {
    font-size: 1.2rem;
    cursor: pointer;
}

#next,
#start-quiz {
    background-color: #77B544;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

#next:disabled,
#start-quiz:disabled {
    background-color: #CCCCCC;
    cursor: not-allowed;
}


/* Quiz Rules Section */
.quiz-rules-section {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(to bottom, #a2d0f1, #D8BFD8, #fae6c2);
    width: 100vw;
    height: 100%;

}

.quiz-rules-section h1 {
    margin-top: 70px;
    padding: 20px;
    font-size: 2.5rem;
    font-weight: bold;

}

.rules-container {
    background-color: #fec5ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 20px auto;

}

.rules-container ul {
    list-style-type: disc;
    text-align: left;
    margin: 20px 0;
    padding-left: 20px;
}

.rules-container li {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

#start-now-button {
    background-color: #77B544;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 20px;
}

#start-now-button:hover {
    background-color: #5A8F35;
}


.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.modal.active {
    display: flex;
}

/* Quiz Section */
.quiz-section {
    margin-top: 70px;
    padding-top: 10px;
    text-align: center;
    background: linear-gradient(to bottom, #a2d0f1, #D8BFD8, #fae6c2);
    width: 100vw;
    height: 100vh;
}

.quiz-section h1 {
    font-size: 2.2rem;
    font-weight: bold;
    padding-top: 10px;
}

#quiz-container {
    font-family: sans-serif;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 600px;
}


#quiz-container h2 {
    margin-bottom: 10px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.options button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.options button:hover {
    background-color: #e0e0e0;
}

.options button:disabled {
    cursor: not-allowed;
    opacity: 0.7;
}

.quiz-controls {
    margin-top: 20px;
}

.quiz-controls button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 4px;
    background-color: #1e6d20;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.quiz-controls button:hover {
    background-color: hsl(122, 57%, 40%);
}


#submit-button {
    background-color: #ff9800;

}

#submit-button:hover {
    background-color: #e68900;
}

#time {
    margin-right: 100px;
    margin-top: 10px;
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    align-items: center;

}


.options label {
    display: block;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.options label:hover {
    background-color: #e0e0e0;
}

.options input[type="radio"] {
    margin-right: 10px;
    cursor: pointer;
}

.options input[type="radio"]:checked+span {
    font-weight: bold;
}


#quiz-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 600px;
    margin-top: 50px;
}


#quiz-container {
    border: 2px solid red;
}

.options label {
    border: 1px solid green;
    background-color: yellow;
}


/* Result Page Styles */
.result-section {
    margin-top: 80px;
    padding: 30px 20px;
    text-align: center;
    background: linear-gradient(to bottom, #a2d0f1, #D8BFD8, #fae6c2);
    width: 100vw;
    min-height: 100vh;
}

#result-container {
    background-color: hsla(115, 43%, 78%, 0.829);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.795);
    margin: 20px auto;
    max-width: 600px;
}

.question-card {
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    text-align: left;
}

.score-circle {
    margin: 20px auto;
    position: relative;
    width: 120px;
    height: 120px;
}

.score-circle svg {
    transform: rotate(0deg);
}

.score-circle circle {
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
}

.circle-background {
    stroke: #f3f3f3;
}

.circle-progress {
    stroke: green;
    stroke-dasharray: 314;
    stroke-dashoffset: 314;
    transition: stroke-dashoffset 1s ease;
}

.circle-text {
    font-size: 20px;
    font-weight: bold;
    fill: #333;
    /* Text color */
    transform: rotate(0deg);
    transform-origin: center;
}



#go-to-home {
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    background-color: #1e6d20;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#go-to-home:hover {
    background-color: hsl(122, 57%, 40%);
}

.hero-section {
    background: linear-gradient(to left, #a2d0f1, #D8BFD8, #fae6c2);
    padding: 100px 20px;
    text-align: center;
    color: #3e0350;
}

.hero-section h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 1.5rem;
}

/* Our Story */
.our-story {
    padding: 50px 20px;
    text-align: center;
}

.our-story h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #3e0350;
}

.our-story p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.1rem;
}

.team-photo {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
}

.team-photo:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Mission and Vision */
.mission-vision {
    display: flex;
    justify-content: space-around;
    padding: 50px 20px;
    background: #f9f9f9;
}

.mission,
.vision {
    max-width: 400px;
    text-align: center;
}

.mission h2,
.vision h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #4a3560;
}

.mission p,
.vision p {
    font-size: 1.1rem;
}

/* Core Values */
.core-values {
    padding: 50px 20px;
    text-align: center;
}

.core-values h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #3e0350;
}

.values-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.value {
    max-width: 300px;
    text-align: center;
    margin: 20px;
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
}

.value img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.value h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #5b357a;
}

.value p {
    font-size: 1rem;
}

.value:hover {

    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Meet the Team */
.meet-the-team {
    padding: 50px 20px;
    text-align: center;
    background: #f9f9f9;
}

.meet-the-team h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #3e0350;
}

.team-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.team-member {
    max-width: 200px;
    text-align: center;
    margin: 20px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    animation: fadeIn 2s ease-in;
    padding: 10px 20px;
    border-radius: 5px;
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.team-member h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
    color: #5b357a;
}

.team-member p {
    font-size: 1rem;
}

.team-member:hover {
    background-color: #dbd7d7;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Testimonials */
.testimonials {
    padding: 50px 20px;
    text-align: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.testimonials h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #3e0350;
}

.testimonial-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.testimonial {
    max-width: 600px;
    max-height: 400px;
    text-align: center;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.226);
    background-color: hsla(180, 1%, 81%, 0.068);
    padding: 20px;
}

.testimonial img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.testimonial p {
    font-size: 1rem;
}

.testimonial:hover {
    background-color: #dbd7d7;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

}

.user-name {
    font-weight: bold;
    margin-top: 10px;
}

/* Call to Action */
.cta {
    padding: 50px 20px;
    text-align: center;
    background: linear-gradient(to right, #a2d0f1, #D8BFD8, #fae6c2);
}

.cta h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #604477;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #4a3560;
}

/* FAQs */
.faqs {
    padding: 50px 20px;
    text-align: center;
}

.faqs h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #3e0350;
}

.faq-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.faq {
    max-width: 400px;
    text-align: left;
    margin: 20px;
}

.faq h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.faq p {
    font-size: 1rem;
}

/* Contact Information */
.contact-info {
    padding: 50px 20px;
    text-align: center;
    background: #604477;
}

.contact-info h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: whitesmoke;
}

.contact-info p {
    font-size: 1.1rem;
}

.contact-info p a {
    text-decoration: none;
    color: white;
}


.social-links i {
    margin-top: 20px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    margin-right: 4rem;
}

.fa-youtube:hover {
    background-color: #cd201f;
    border-radius: 50%;
    padding: 10px;
}

.fa-linkedin:hover {
    background-color: #0a66c2;
    border-radius: 50%;
    padding: 10px;
}

.fa-instagram:hover {
    background: linear-gradient(#f9ce34, #ee2a7b, #6228d7);
    border-radius: 50%;
    padding: 10px;
}

.fa-facebook:hover {
    background-color: #4267b2;
    border-radius: 50%;
    padding: 10px;
}



/* Media Queries for Tablets (max-width: 768px) */
@media screen and (max-width: 768px) {

    /* Navbar */
    .logo-mobile {
        width: 200px;
        height: 70px;
    }

    .logo-mobile a img {
        width: 100%;
        height: 100%;
    }

    .navbar-left,
    .navbar-right {
        display: none;
    }

    .logo-mobile,
    .fa-solid.fa-bars {
        display: inline-block;
    }

    .fa-solid.fa-bars {
        padding: 20px;
        font-size: 2rem;
        cursor: pointer;
    }

    .navbar-mobile {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #604477;
        width: 100%;
        padding: 2rem 4rem 1rem 2rem;
    }

    .navbar-mobile.active {
        display: block;
    }

    .navbar-mobile ul {
        flex-direction: column;
    }

    .navbar-mobile ul li {
        margin-bottom: 3rem;
    }

    .navbar-mobile ul a {
        font-size: 1.3rem;
    }


    
    

    /* Hero Section */
    .section-1 {
        margin-top: 70px;
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .section-1-left {
        order: 2;
        margin-top: 20px;
    }

    .section-1-right {
        order: 1;
    }

    .section-1-left img {
        width: 300px;
        height: auto;
    }

    .section-1-right h1 {
        font-size: 2rem;
        color: #604477;
    }

    #sub-title {
        font-size: 1.5rem;
        color: #000000;
    }

    #below-content {
        font-size: 1rem;
        color: blue;
        margin-bottom: 20px;
    }

    .animated-button {
        font-size: 1.2rem;
        padding: 10px 20px;
    }

    /* Categories Section */
    .subjects-grid {
        grid-template-columns: repeat(2, 1fr);
    }



    /* About Us Section */
    .mission-vision {
        flex-direction: column;
    }

    .mission,
    .vision {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .values-grid,
    .team-grid,
    .testimonial-grid,
    .faq-grid {
        flex-direction: column;
    }

    .value,
    .team-member,
    .testimonial,
    .faq {
        max-width: 100%;
        margin: 10px 0;
    }

    .contact-info h2 {
        font-size: 1.8rem;
    }

    /* Quiz Section */
    .quiz-section {
        margin-top: 70px;
        padding-top: 10px;
        text-align: center;
        background: linear-gradient(to bottom, #a2d0f1, #D8BFD8, #fae6c2);
        width: 100vw;
        height: auto;
    }

    .quiz-section h1 {
        font-size: 2rem;
    }

    #quiz-container {
        padding: 15px;
        max-width: 90%;
        margin: 20px auto;
    }

    .quiz-controls button {
        padding: 8px 16px;
        font-size: 1rem;
    }

    #time {
        font-size: 1.2rem;
    }


}

/* Media Queries for Phones (max-width: 480px) */
@media screen and (max-width: 480px) {

    .section-1 {
        margin-top: 70px;
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .section-1-left {
        order: 2;
        margin-top: 20px;
    }

    .section-1-right {
        order: 1;
    }

    .section-1-left img {
        width: 200px;
        height: auto;
    }

    .section-1-right h1 {
        font-size: 2rem;
        color: #604477;
    }

    #sub-title {
        font-size: 1.5rem;
        color: #000000;
    }

    #below-content {
        font-size: 1rem;
        color: blue;
        margin-bottom: 20px;
    }

    .animated-button {
        font-size: 1.2rem;
        padding: 10px 20px;
    }

    /* Categories Section */
    .subjects-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Quiz Section */
    .quiz-section {
        margin-top: 70px;
        padding-top: 10px;
        text-align: center;
        background: linear-gradient(to bottom, #a2d0f1, #D8BFD8, #fae6c2);
        width: 100vw;
        height: auto;
    }

    .quiz-section h1 {
        font-size: 1.8rem;
    }

    #quiz-container {
        padding: 10px;
        max-width: 90%;
        margin: 20px auto;
    }

    .quiz-controls button {
        padding: 5px 10px;
        font-size: 0.9rem;
    }

    #time {
        font-size: 1rem;

    }

    /* About Us Section */
    .hero-section h1 {
        font-size: 2rem;
    }

    .hero-section p {
        font-size: 1.2rem;
    }

    .about-us h2 {
        font-size: 2rem;
    }

    .about-us p {
        font-size: 1rem;
    }

    .about-us img {
        max-width: 100%;
    }

    /* Testimonials */
    .testimonial img {
        width: 60px;
        height: 60px;
    }

    .testimonial p {
        font-size: 0.9rem;
    }

    /* FAQs */
    .faq h3 {
        font-size: 1.2rem;
    }

    .faq p {
        font-size: 0.9rem;
    }

    /* Contact Information */
    .contact-info h2 {
        font-size: 1.5rem;
    }

    .contact-info p {
        font-size: 1rem;
    }

    .social-links i {
        width: 10px;
        height: 10px;
        margin-right: 30px;
        font-size: 1.5rem;

    }
    .fa-youtube:hover {
        background-color: #cd201f;
        border-radius: 50%;
        padding: 5px;
    }
    
    .fa-linkedin:hover {
        background-color: #0a66c2;
        border-radius: 50%;
        padding: 5px;
    }
    
    .fa-instagram:hover {
        background: linear-gradient(#f9ce34, #ee2a7b, #6228d7);
        border-radius: 50%;
        padding: 5px;
    }
    
    .fa-facebook:hover {
        background-color: #4267b2;
        border-radius: 50%;
        padding: 5px;
    }
    
}